<% @title = "Bike Page" %>
	<h1><%= foundbikes.count %></h1>
<h2>This is  the bike in the Db </h2>

<a href="/bikes/new">Create a new bike</a>

<ul>
	<% foundbikes.each do |bike| %>
		<li>
			<a href='/bikes/<%= bike.id %>'>Bike No. <%= bike.id %></a>
		</li>
	<% end %>
</ul>